<div class="container">
    <h1>Razonete</h1>

    <mat-form-field>
        <mat-label>Nome da Conta</mat-label>
        <input matInput [(ngModel)]="nomeConta" placeholder="Ex: Caixa">
    </mat-form-field>

    <div class="lancamentos">
        <mat-form-field>
            <mat-label>Débito</mat-label>
            <input matInput type="number" [(ngModel)]="debito" placeholder="Valor do Débito">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Crédito</mat-label>
            <input matInput type="number" [(ngModel)]="credito" placeholder="Valor do Crédito">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <input matInput [(ngModel)]="descricao" placeholder="Descrição do lançamento">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="adicionarLancamento('Débito')" [disabled]="!debito">Adicionar
            Débito</button>
        <button mat-raised-button color="accent" (click)="adicionarLancamento('Crédito')"
            [disabled]="!credito">Adicionar Crédito</button>
    </div>

    <h2>Lançamentos</h2>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.valor | number:'1.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef> Descrição </th>
            <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="saldo">
        Saldo: {{ saldo | number:'1.2-2' }}
    </div>
</div>